.card {
  border-radius: 0;
  cursor: pointer;
}
.card,
.card-footer {
  background: #ffffa5;
  border: none;
}
.card.completed,
.card.completed .card-footer,
.card.completed i {
  background-color: #eee;
  color: #ccc;
}
.card-footer {
  text-align: right;
}
i {
  color: #cc0000;
  padding-right: .5rem;
}

.deleted {
  display: none;
}